body{
  height: 10vh;
  animation: varColor 10s infinite;
  font-family: 'Text Me One', sans-serif;
  text-align: center;

}

@keyframes varColor {
  0% {background-color:#FFF069}
  33% {background-color:#A0D975}
  66% {background-color:#4EB988}
  100% {background-color:#FFF069}
}

header{
  margin: 0px;
  padding: 3%;
  
}

main{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10%;
  text-align: left;
}


img{
  width: 150px;
  height: auto;

}

.description{
  color: #141414;
  padding: 0% 35% 0% 0%; 
  display: flex;
  flex-direction: row;
  font-size: 22px;
  justify-content: flex-start;
}

.meLarge{
  padding-left: 2%;
}

footer{
  padding:0% 3% ;

}

a{
  background-color:#c6bec45b;
  text-decoration: none;
  color: rgb(16, 7, 34);
}

a:hover{
  background-color:rgba(65, 105, 225, 0.178);
  color: #141414;
}

.index{
  background-color:transparent;
  text-decoration: none;
  border: none;
  color: rgb(16, 7, 34);
  width: 80px;
  padding: 2px;
  font-family: 'Snippet', sans-serif;
  font-size: 30px;
}

.index:hover{
  background-color: rgba(235, 192, 255, 0.438);
  color: #1c021d;
  text-shadow: rgba(65, 105, 225, 0.178);
}

h1{
  font-family: 'Snippet', sans-serif;
  font-size: 55px;
  margin: 0;
}