*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

%grid-container {
  display: grid;
  grid-template-columns: 0.5fr repeat(12, 1fr) 0.5fr;
  grid-template-rows: repeat(8, 1fr);
  height: 100vh;
}

#section1{
  @extend %grid-container;
  background-color: yellowgreen;
}

#section2{
  @extend %grid-container;
  background-color: rosybrown;
}

#section3{
  @extend %grid-container;
  background-color: royalblue;
}

#navbar{
  position: fixed;
}
.active{
  background-color: red;
}